.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.article {
}

.main {
	padding: 20px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	font-weight: bold;
	flex-direction: column;
	margin-bottom: 20px;

	&::after {
		content: '';
		width: 300px;
		height: 1px;
		background-color: #ddd;
		margin-top: 20px;
	}
}

.text {
	font-size: 24px;
	line-height: 1.5;
	text-align: justify;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
}

.img {
	float: right;
	margin-left: 20px;
	width: 200px;
	height: 200px;
}

.left {
	float: left;
	margin-right: 20px;
	margin-left: 0;
	width: 350px;
	height: 350px;
}
