@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

input::-ms-clear {
	display: none;
}

html,
body {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
